:host(.page-layout) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.page-layout {
  &__header, &__table {
    flex: 1;
    width: 700px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    border-top: 3px solid #90CAF9;
  }

  &__title {
    color: #90CAF9;
    margin-top: 0;
    margin-bottom: 35px;
  }

  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    font-size: 18px;
    border-bottom: 1px solid grey;

    &--header {
      border-top: 1px solid grey;
      font-size: 20px;
      font-weight: 500;
    }
  }  
}
