:host(.row) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  font-size: 18px;
  border-bottom: 1px solid grey;

  &--header {
    border-top: 1px solid grey;
    font-size: 20px;
    font-weight: 500;
  }
}
